.header{
    width: 100%;
    background-color: blue;
    color: white;

    p{
        margin: 0;
    }
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

.headerTitle{
    font-size: 2em;
}

.headerCart {
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: inherit;
        border: none;
        cursor: pointer;
        border: none;

        svg{
            margin-right: .5em;
        }
    }
}